.bodyeffect
{
  font-family:"Georgia";
  font-size: 13px;
  color:#222222;
}

.header
{
  color:#3355aa;
  height: 80px;
  padding-top: 10px;

}

.navbar-default
{
  padding: 6px;
  color: #ffffff;
  height: 40PX;
  background-color: #3355aa;
  font-size: 15px;
}
.navbar-default a
{
  color: #ffffff;
}
.navbar-default button
{
  background-color: #3355ff;
  border:transparent;
}

.search1
{
  float: right;
}
.nav-item
{
  border-left: 3px solid blue;
  padding-left: 20px;
  padding-right: 20px;
}

.bannerset
{
  padding-top: 35px;
  padding-left: 10px;
  padding-bottom: 45px;
  font-size: 14px;

}
.bannerset img
{
height:100%;
width: 100%;
padding: 5px;
}
.caption
{
  text-align: center;
}
.text-header h3
{
  padding-top: 15px;
  font-size: 16px;
  color:#3355aa;
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
}
ul.announcementmain
{
  list-style-type: none;
  padding-left: inherit;
  padding: 0;
}
.announcement
{
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 10px;
}

.smalltext
{

  font-size: 10px;

}
.sectors1
{
  background-color: #f1f1f1;
  padding-bottom: 75px;
  border-top: 1px solid #808080;

}
.sectors1 h2
{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;


  font-size: 28px;
}
ul.row{
 padding: 0;
 list-style-type: none;
}

.card a
{
  padding:10px 60px;
  color: #000080;
  font-size: 16px;
  text-align: center;
}
.card
{
  height: 350px;
}
.box
{
  background-color: #808080;
  height: 300px;
  margin: 5px;
}
.footerDesign
{
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #333333;
}
.headerdata-item
{

  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  display: inline;
  border-right: 1px solid #808080;
}
.headerdata-item1
{

  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  display: inline;
}

.footerDesign a
{
  color: #808080;
}
.headerdataleft
{
  float: right;
}
.headerdataleft-item
{

  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  display: inline;
  border-right: 1px solid #808080;
}
.headerdataleft-item1
{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
  display: inline;
}
.end
{
  border-top: 1px solid #808080;
  padding-top: 10px;
}
.end a
{
  padding: 10px;
  font-size: 11px;
}

.bottmBorder{
  border-bottom: 1px solid #808080;
}
.headerdata
{
  padding-left: inherit;
  padding: 0;
}
.headerdata-item a:hover
{
  color: white;
  text-decoration: none;
}
.headerdataleft-item a:hover
{
  color: white;
  text-decoration: none;
}
.headerdata-item1 a:hover
{
  color: white;
  text-decoration: none;
}
.headerdataleft-item1 a:hover
{
  color: white;
  text-decoration: none;
}
